
<!DOCTYPE html>
<html>
    <head>
        <title>Marc and Luann's Wedding</title>
        <link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico">
	    <link rel="stylesheet" href="/css/StyleSheetMain.css">
	    <link rel="stylesheet" href="/css/cardLayout/cardLayout.css">
        <link rel="stylesheet" href="/css/cardLayout/cardMenu.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
        </header>
        <div class="wrapper">
            <div class="container">
                <div class="site">
                    <div class="mainHeader">
                        {{ content }}
                    </div>
                </div> <!-- /site -->
            </div> <!-- /container -->
        </div> <!-- /wrapper -->
        <nav id="bt-menu" class="bt-menu">
            <a href="" class="bt-menu-trigger"><span>Menu</span></a>
            <ul>
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="/about" title="About Us">About Us</a></li>
                <li><a href="/luann" title="Luann">Luann</a></li>
                <li><a href="/wedding" title="Wedding">Wedding</a> </li>
                <li><a href="/reception" title="Reception">Reception</a></li>   
                <li><a href="/registry" title="Registry">Registry</a></li>   
                <li><a href="/guest" title="Guest Information">Guest Info</a></li>
            </ul>
            <ul>
                <!-- Email -->
                <li>
                    <a href="mailto:mathomastech@gmail.com?Subject=Contact%20From%20Personal%20Site" target="_blank">
                        <img src="/icons/gmailcracked.png" width="50" height="50"/>
                    </a>
                </li>
                <!-- Google Plus -->
                <li>
                    <a href="https://plus.google.com/u/0/+MarcThomas/about" target="_blank">
                        <img src="/icons/g+cracked.png" width="50" height="50" alt="Google Plus" title="Google Plus"/>
                    </a>
                </li>
                <!-- Twitter -->
                <li>
                    <a href="http://www.twitter.com/mthx_" target="_blank">
                        <img src="/icons/twittercracked.png" width="50" height="50" alt="Twitter" title="Twitter"/>
                    </a>
                </li>
                <!-- Github -->
                <li>
                    <a href="https://www.github.com/mthax" target="_blank">
                        <img src="/icons/githubcracked.png" width="50" height="50" alt="Github" title="Github"/>
                    </a>
                </li>
                <!-- Steam
                <li>
                    <a href="http://steamcommunity.com/id/Sniper_Zero/" target="_blank">
                        <img src="/icons/SteamCracked.png" width="50" height="50" alt="Steam" title="Steam"/>
                    </a>
                </li>
                -->
                <!-- Gnome Support -->
                <li>
                    <a href="http://www.gnome.org/friends/" target="_blank">
                        <img src="https://static.gnome.org/friends/banners/fog-125x125.png" width="40" height="40" style="margin-top:5px;" alt="Become a Friend of GNOME" border="0"/>
                    </a>
                </li>
            </ul>
        </nav>
    </body>
    <script src="/css/cardLayout/js/classie.js"></script>
    <script src="/css/cardLayout/js/borderMenu.js"></script>
</html>
